:root{
    --main-bg:#b6d4e7;
    --upload-zone-bg:#78aac8;
    --browse-btn-color:#f1faee;
    --progress-bar-bg:#6cbbed5c;
    --progress-bar-line:#1586e2;
    --border:2px dashed #a8dadc;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    background-color: var(--main-bg);
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height:  100vh;
    background-color:var(--main-bg);
}

.upload-zone{
   background-color: var(--upload-zone-bg);
   border-radius: 20px;
}
.drop-zone{
 height: 300px;
 width: 500px;
 margin: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 border-radius: 20px;
 border: var(--border);
}
.file-image-container{
margin-bottom: 20px;
}
.file-image-container img{
    position: relative;
    width: 80px;
    transform-origin: bottom;
    transition: transform .3s ease-in-out;
}
.left{
    left: 80px;
}
.right{
    right: 80px;
}

.draged .left{
    transform: rotate(-10deg) translate(-40px,-10px) scale(.9);
}
.draged .center{
    transform: translateY(-15px);
}
.draged .right{
    transform: rotate(10deg) translate(40px, -10px) scale(.9);

}
.browse-button{
    color: var(--browse-btn-color);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-decoration: underline;
    margin-left: 3px;
}

/* //------------ progress bar */
.progress-bar-container{
 height: 100px;
 border:var(--border);
 margin: 30px;
 border-radius: 20px;
display: none;
transition: .4s all ease-in-out;
}
.progress-bar{
position: relative;
background-color: var(--progress-bar-bg);
height: 100%;
border-radius: 20px;
width: 0%;
display: flex;
align-items: center;
transition: .4s all ease-in-out;
justify-content: center;
flex-direction: column;
}
.progress-bar h3{
    position: absolute;
    top: 10px;
    left: 40px;
    display: none;
}
.progress-bar h2{
    position: absolute !important;
    top: 10px;
    right: 60px;
    display: none;
}
.progress-line {
    background-color: var(--progress-bar-line);
    height: 20%;
    border-radius: 20px;
    width: 90%;
    box-shadow: inset 1px 1px 0px 1px #2a28287a;
}


/* //--------------------- */
.upload-image-section{

}
.upload-image-section img{
width: 35vw;
}

/* -------------------------------- */
.uploaded-file-div{
    height: 100vh;
    width: 100vw;

}
.uploaded-file-div img{
    width: 100%;
    height: 100%;
}
/* ---------------------------------- */
.page-not-found{
    overflow: hidden;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #006BB3;
}
.page-not-found  img{
    height: 100%;
}
/* ---------------------------------- */
.fileEndpoint-container{
   width: 100%;
   height: 70px;
   padding: 5px 30px ;
   padding-bottom: 15px;
   display: none;
    transition: .4s all ease-in-out;
}
.fileEndpoint-div{
   border: var(--border);
   position: relative;
   height: 100%;
   border-radius: 15px;
   padding: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.fileEndpoint-div input{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 0px 10px;
}
.copy-button{
position: absolute;
right: 15px;
background-color: transparent;
border: none;
outline: none;
}
.copy-button i{
    font-size: 22px;
    color: var(--upload-zone-bg);
}
/* -------------------------- download route ------------ */
.download-wrapper{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.download-file-container{
    width: 50%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-file-container .download-div  {
box-shadow: 1px 1px 86px -30px black;
    width: 80%;
background-image: url("/img/download.svg");
 min-height: 65vh;
 background-position: top;
 background-size: contain;
 background-repeat: no-repeat;
 display: flex;
 align-items: center;
 justify-content: end;
 flex-direction: column; 
}

.download-file-container .download-div h2{
color: rgb(51, 51, 51);
position: relative;
top: -50px;
font-size: 30px;
}

.download-file-container .download-div button {
    position: relative;
    top: -20px;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #9dcbe7;
    background-color: #89bcdb;
    color: #e5eef3;

}
.download-image-container {
    padding: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.download-image-container .download-image {
    width: 70%;

}
.download-image-container .download-image img{
    width: 100%;
}
/* ------------------------ */
@media only screen and (max-width: 1000px) {
   main {
       flex-direction: column;
       flex-flow: column-reverse;
        margin: 50px 0;
   }
   .upload-image-section img {
       width: 50vw;
   }
     .download-wrapper {
         flex-direction: column;
         flex-flow: column-reverse;

     }
   .download-file-container {
       width: 100%;
      
   }
 
   .download-image-container {
       width: 100%;

   }
}