<%- include('../partials/header'); -%>

    <div class="page-not-found">
        <img src="img/depositphotos_81556406-stock-photo-404-error-page-not-found.jpg" alt="">
    </div>
    <%- include('../partials/footer',{pageScript:""}); -%>