<%- include('../partials/header'); -%>
    <div class="download-wrapper">
        <div class="download-file-container">
            <div class="download-div">

                <h2>hdjkghalskfjalffajk52352353</h2>
                <button>Download</button>
            </div>

        </div>
        <div class="download-image-container">
            <div class="download-image">
                <img src="<%=  `${file.filename}` %> " alt="" draggable="false">
            </div>
        </div>

    </div>

    <%- include('../partials/footer'); -%>